{% extends 'base.html' %}

{% block content %}
<div class='content'>
    <form action='' method="post">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <h2>Log In</h2>
        <br>
        {% csrf_token %}
            <div class="mb-3">
                <input placeholder="Username" type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input placeholder="Password" type="password" class="form-control" name="password">
            </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}